<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2 p-md-3">
  <span class="{{ categoryClass }}">{{ category }}</span>
  <article class="d-flex flex-column align-items-start mb-2 mb-md-5">
    <a href="{{ path }}" title="{{ localisedName }}" class="d-block decoration-none ">
      
      <figure>
        <img class="main-image" src="{{ screenshot }}" alt="{{ localisedName }}">
      </figure>
      
      <h1 class="projectslist__listing__title">{{ localisedName }}</h1>
      <h3 class="projectslist__listing">{{ shortDescription }}</h3>
      <span class="projectslist__listing__url">{{ readMore }} →</span>
    </a>
  </article>
</div>
