<div class="col-sm-6 col-md-4 item">
  <p class="{{ categoryClass }}">{{ category }}</p>
  <div class="main-image" style=" background: url({{ screenshot }}) no-repeat center center;">
  </div>
  <p class="name">{{ localisedName }}</p>
  <a href="{{ path }}"> {{ readMore }}</a>
</div>