<div class="col-sm-6 col-md-4 item">
  <a href="{{ path }}">
    <span class="{{ categoryClass }}">{{ category }}</span>
    <div class="main-image" style=" background: url({{ screenshot }}) no-repeat center center;">
    </div>
    <p class="name">{{ localisedName }}</p>
    <p class="item-more">{{ readMore }}</p>
  </a>
</div>
